<!DOCTYPE html>
<html>

  <body>
    <h1>
        <a href="./index">게시판 로고</a>
    </h1>
    <form method="post" action="./update">
    <table>
        <input type="hidden" name="idx" value="<%=data[0].idx%>">
        <tr>
            <td>제목</td>
            <td><input type="text" name="subject" value="<%=data[0].subject%>"></title></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="writer" value="<%=data[0].writer%>"></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="password" value="<%=data[0].password%>"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td>
                <textarea name="content" ><%=data[0].content%></textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="수정">
    </form>
</body>
</html>
<script>


</script>
